# Felicity
PROJECT_NAME='Felicity LIMS'
SERVER_NAME=felicity-lims
SERVER_HOST=https://localhost
DOMAIN=localhost
POSTGRES_SERVER=localhost
POSTGRES_USER=felicity
POSTGRES_PASSWORD=felicity
POSTGRES_DB=felicity_lims
TESTING=False
RETAIN_TESTING_DB_DATA=False
SMTP_TLS=False
SMTP_PORT=1025
SMTP_HOST=localhost
SMTP_USER=
SMTP_PASSWORD=
EMAILS_FROM_EMAIL=felicity@felicity.labs
EMAILS_FROM_NAME=felicity
EMAIL_TEST_USER=test@felicitylims.inc
FIRST_SUPERUSER_EMAIL=dmin@felicitylims.com
FIRST_SUPERUSER_USERNAME=admin
FIRST_SUPERUSER_PASSWORD='!Felicity#100'
SYSTEM_DAEMON_EMAIL=system_daemon@felicitylims.com
SYSTEM_DAEMON_USERNAME=system_daemon
SYSTEM_DAEMON_PASSWORD='!System@Daemon#100'
USERS_OPEN_REGISTRATION=False
LOAD_SETUP_DATA=False
RUN_OPEN_TRACING=True
OTLP_SPAN_EXPORT_URL=http://192.168.0.40:4317
# Webapp
NODE_ENV=development
VITE_NODE_ENV=development
VITE_APP_TITLE=Felicity Dev
VITE_BASE_URL=http://localhost:8000
