fastapi==0.68.1
uvicorn[standard]==0.15.0
SQLAlchemy==1.4.23
graphene-sqlalchemy==2.3.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
emails==0.6
psycopg2-binary==2.9.1
sqlalchemy-mixins==1.5
apscheduler==3.7.0
sqlalchemy_mptt==0.2.5
tenacity==8.0.1
pydantic[email]==1.8.2
python-multipart==0.0.5
alembic==1.7.3
asyncpg==0.24.0
sqlmodel==0.0.4