
# https://caddyserver.com/docs/caddyfile/concepts

:{$PORT} {
	reverse_proxy /* felicity_fe:3000
	encode zstd gzip
}

#:80 {
#	reverse_proxy 0.0.0.0:3000
#}

#
# Use following config if with custom domain
#
# felicity.com:443 {
#     reverse_proxy 0.0.0.0:8000 {
#         header_up Host {http.request.host}
#         header_up X-Real-IP {http.request.remote}
#         header_up X-Forwarded-For {http.request.remote}
#        header_up X-Forwarded-Port {http.request.port}
#        header_up X-Forwarded-Proto {http.request.scheme}
#    }
#    tls user@felicity.com
#    log {
#        output file /var/log/caddy/access.log {
#                roll_size 1mb
#                roll_keep 4
#                roll_keep_for 24h
#        }
#    }
#
# }