<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Felicity LIMS</title>
        
      <script type="module" crossorigin src="/assets/index-41799763.js"></script>
      <link rel="modulepreload" crossorigin href="/assets/_plugin-vue_export-helper-dacf3d65.js">
      <link rel="modulepreload" crossorigin href="/assets/shipment-53265c2d.js">
      <link rel="modulepreload" crossorigin href="/assets/runtime-dom.esm-bundler-98433118.js">
      <link rel="stylesheet" href="/assets/index-45a01b77.css">
    </head>
    <body>
        <div id="felicityApp">
            <div id="fel-load">
                <p>Felicity LIMS</p>
                <div class="fel-loader"></div>
            </div>
        </div>
        
    </body>
</html>
