<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="icon" href="/assets/favicon-da6f65cc.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Felicity LIMS</title>
    
  <script type="module" crossorigin src="/assets/index-03a7f0eb.js"></script>
  <link rel="stylesheet" href="/assets/index-81d3252e.css">
</head>
<body>
<div id="felicityApp">
    <div id="fel-load">
        <p>Felicity LIMS</p>
        <div class="fel-loader"></div>
    </div>
</div>

</body>
</html>
